body {
    background-color: #000000;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px; 
    box-sizing: border-box;
    margin: 70px auto 0; 
    padding-left: 150px;
    gap: 5px; 
    position: absolute;
}

.left-column {
    flex: 2;
    padding-right: 10px;
}

.right-column {
    flex: 1;
    padding-left: 10px;
}

.left-column section,
.right-column section {
    margin-bottom: 10px;
}
